{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "node": true
  },
  "extends": ["eslint:recommended", "airbnb"],
  "rules": {
    "no-console": 0,

    // airbnb reset
    "import/no-extraneous-dependencies": [
      "error", {
        "devDependencies": ["**/*Spec.js", "**/gulpfile.js"]
      }
    ],
    "prefer-template": 1,
    "padded-blocks": 0,
    "arrow-body-style": 0,
    "no-param-reassign": 0,
    "no-underscore-dangle": 0,
    "linebreak-style": 0,
    "import/no-unresolved": 0, // fails in Travis
    "arrow-parens": [2, "as-needed"],
    "arrow-spacing": 2,
    "no-confusing-arrow": 2,
    "consistent-return": 0,
    "array-callback-return": 0,
    "no-else-return": 2,
    "no-lonely-if": 2,
    "no-return-assign": 2,
    "no-self-compare": 2,
    "no-use-before-define": 2,
    "no-extend-native": 2,
    "guard-for-in": 2,
    "no-var": 2,
    "radix": 2,
    "eol-last": 2,
    "no-caller": 2,
    "no-bitwise": 2
  }
}
